body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin: 0;
  font-family: roboto;
}
.intro {
  background-color: #1F2937;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 60px;
  height: 500px;
}

.header {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.header_logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  color: #E5E7EB;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  gap: 28px;
}

.left_container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.center_intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin-top: 40px;
}
.title {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin: 0px;
}

.subtext {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0px;
}

button {
  background-color: #3882F6;
  border-radius: 8px;
  font-size: 20px;
  color: #F9FAF8;
  padding: 8px 25px;
  margin: 0px;
  border-style: solid;
}

.image {
  color: #E5E7EB;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 500px;
  min-height: 200px;
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid_text {
  display: flex;
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
}

.mid_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 300px;
}

.illustration_container {
  display: flex;
  flex-direction: column;
}

.illustration {
  display: flex;
  border: 4px solid #3882F6;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.illustration_description {
  display: flex;
  max-width: 150px;

}

.quote_section {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin: 0;
}

.quote {
  display: flex;
  max-width: 600px;
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #F2937;
  margin-bottom: 0px;
}

.name {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  padding-left: 300px
}

.signup_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882F6;
  margin: 100px 150px;
  border-radius: 20px;
  height: 150px;
}

.signup_upper_text {
  color: #F9FAF8;
  margin: 0;
}

.signup_lower_text {
  color: #E5E7EB;
  margin: 0;
}

.signup_text {
  display: flex;
  flex-direction: column;
}

.button2 {
  border-color: #F9FAF8;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
  color: #F9FAF8;
}
